# Editor
.idea/
cmake-build-debug
CMakeLists.txt

# Build
.build/
*.gch
*.o
program/obj
program/test/*
!program/test/simple.c

# Binaries
*.a.out
*.so
*.a

# MacOS
.DS_Store

# hidden files
.*

# tmp files
*~
!.editor_config

# expect self
!.gitignore

# main executable
woody_woodpacker
woody
test
